#source-button::before {
    content: "";
    display: block;
    float: left;
    background-image: url("../../../images/rocket.png");
    background-size: contain;
    width: 1.3rem;
    height: 20px;
    margin-right: 0.5rem;
}

#destination-button::before {
    content: "";
    display: block;
    float: left;
    background-image: url("../../../images/earth.png");
    background-size: contain;
    width: 0.9rem;
    height: 15px;
    margin-right: 0.5rem;
    margin-top: 3px;
}

#obstacle-button::before {
    content: "";
    display: block;
    float: left;
    background-image: url("../../../images/asteroid.png");
    background-size: contain;
    width: 1.3rem;
    height: 20px;
    margin-right: 0.5rem;
}

#erase-button::before {
    content: "";
    display: block;
    float: left;
    background-image: url("../../../images/erase.png");
    background-size: contain;
    width: 1.3rem;
    height: 21px;
    margin-right: 0.5rem;
}