.source-cell {
    background-color: green;
}

.destination-cell {
    background-color: red;
}

.visited-cell {
    background-color: lightblue;
}

.shortest-path-cell {
    background-color: yellow;
}