#utility-bar {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
    padding: 1rem 0;
    justify-content: center;
}

.utility-item {
    margin: 0 2rem;
    padding: 0.5rem 1rem;
    vertical-align: middle;
    color: gray;
    cursor: pointer;
}

.utility-item:hover {
    color: black;
    font-weight: bolder;
}

.active-button {
    color: black;
    font-weight: bolder;
}